body{
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    text-align: center;
    color: #052e4d;
    outline-color: rgb(144, 157, 200);
    background-image: url("wall.jpg");
    background-size: cover;
}

h1{
 outline-color: rgb(84, 94, 124);
 text-align: center;
 font: Georgia !important;
 font-size: 100px;


}

h2{
    color:blanchedalmond;
    text-align: center;
    font: Georgia !important;
    font-size: 40px;

   
   }
   

#board {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae;
}

#board.level-2 {
    width: 480px;
    height: 480px;
}

#board.level-2 img {
    width: 118px;
    height: 118px;
}

#board.level-3 {
    width: 480px;
    height: 480px;
}

#board.level-3 img{
    width: 118px;
    height: 118px;
}

#notification{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

